@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23232a;
}
.box{
    position: relative;
    width: 380px;
    height: auto;
    background: #1c1c1c;
    box-shadow: 0 0 80px #483D8B ;
    border-radius: 8px;
    overflow: hidden;
}

.box form{
    position: inherit;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.box form h1{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.05s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.05s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}
.box form .links{
    display:flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    color: #fff;
    padding: 9px 25px;
    background: #483D8B;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
    width: 130px;
    letter-spacing: 2px;
    margin-top: 10px;
    width: 180px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, .07);
    padding: 6px 14px;
    transition: .5s ease;
}
.sidebar.active {
    width: 220px;
}
.sidebar .logo-content .logo{
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50px;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}
.sidebar.active .logo-content .logo {
    opacity: 1;
}
.logo-content .logo i {
    font-size: 28px;
    margin-right:5px;
}
.logo-content .logo h1 {
    font-size: 20px;
}
.sidebar #abc {
    position:absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 50px;
}
.sidebar.active #abc {
    left: 90%;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    margin:5px 0;
    line-height: 50px;
}
.sidebar ul li a {
    display:flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s ease;
}
.sidebar ul li a:hover{
    background: rgba(255, 255, 255, .1);
}
.sidebar ul .list-item.active a {
    background: #483D8B;
}
.sidebar ul li i{
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease ;
}
.sidebar.active .links-name{
    transition-delay: .2s ;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .list-logout {
    position: absolute;
    bottom: 0;
    margin: 15px 0;
    width: 64%;
}
.sidebar.active .list-logout {
    width: 89%;
}

.logout-button {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    width: 100%;
    border-radius: 6px;
}

.logout-button:hover {
    background: rgba(255, 255, 255, .1);
}

.error-message {
    color: red;
    margin-bottom: 0!important;
    padding-top: 5px;
}

.message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: lightgreen;
    color: black;
    text-align: center;
}
